<div id="content">
</div>

<script type="text/javascript">
  window.logo_url = '<%= image_url('FavoRabbit-logo.png')  %>'
  window.raised_hand_url = '<%= image_url('raised_hand.png')  %>'
  window.handshake_url = '<%= image_url('handshake.png')  %>'
  window.helping_hand_url = '<%= image_url('helping_hand.png')  %>'
  window.moving_help_url = '<%= image_url('moving_help.jpg')  %>'
  window.computer_help_url = '<%= image_url('computer_help.jpg')  %>'
  window.transportation_url = '<%= image_url('transportation.jpg')  %>'
  window.pet_care_url = '<%= image_url('pet_care.jpg')  %>'
  window.general_help_url = '<%= image_url('general_help.jpg')  %>'
  window.furniture_assembly_url = '<%= image_url('furniture_assembly.jpg')  %>'

</script>
